.for {
    &__row {
        margin-bottom: 228px;
          display: grid;
          grid-template-columns: minmax(auto,576px) minmax(auto,474px);
          column-gap: 120px;
    }
    &__left {
    }
    &__left-title {
          font-size: 2rem;
          font-weight: 700;
          line-height: 37px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 9px;
    }
    &__left-subtitle {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 24px;
          color: #9B9B9B;
    }
    &__left-txt {
          font-size: 1rem;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 20px;
          color: #595959;
    }
    &__left-link, &__left-link a {
          font-size: 12px;
          font-weight: 700;
          line-height: 29px;
          letter-spacing: 0px;
          text-align: left;
          text-decoration: none;
          text-transform: uppercase;
          color: #7D7D7D;
          margin-bottom: 26px;
    }
    &__right {
          padding-left: 48px;
          margin-right: 38px;
          position: relative;
    }
    &__right-title {
          font-size: 2rem;
          font-weight: 700;
          line-height: 37px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 46px;
    }
    &__form {
          max-width: 388px;
          height: 53px;
          border: 2px solid #E2E2E2;
          margin-bottom: 2.3125rem;
    }
    &__form:hover {
          border: 2px solid #7D7D7D;
          transition: all 0.5s ease 0s;
    }
    &__form input {
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0px;
          text-align: left;
          color: #4A4A4A;
          padding: 19px 0 0 13px;
    }
    &__form-btn {
          position: absolute;
          right: 0;
          width: 104px;
          height: 35px;
          background-color: #B4141B;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          font-weight: 700;
          line-height: 23px;
          letter-spacing: 0px;
          text-transform: uppercase;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
          margin-top: 26px;
          cursor: pointer;
    }
    &__form-btn a {
          text-decoration: none;
          color: white;      
    }
    &__form-btn:hover {
          opacity: 0.8;
    }
}

