
.testimonials {
    background-color: #0E77AF;
    height: 651px;
    position: relative;
    margin-bottom: 11.1875rem;
    width: 100%;
    &__row {
          position: absolute;
          top: 150px;
          display: grid;
          grid-template-columns: minmax(auto,230px) minmax(auto,734px);
          column-gap: 207px;
    }
    &__left {
          color: white;
    }
    &__title {
          font-size: 32px;
          font-weight: 700;
          line-height: 37px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 9px;
    }
    &__subtitle {
          font-size: 24px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 92px;
    }
    &__percent {
          font-size: 64px;
          font-weight: 700;
          line-height: 73px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 1px;
    }
    &__txt {
          font-size: 28px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 56px;
    }
    &__btns {
          font-size: 28px;
          font-weight: 400;
          line-height: 32px;
          letter-spacing: 0px;
          text-align: left;
    }
    &__btn {
      margin-left: 70px;
      margin-right: 10px;
    }
}
.slider2 {
      max-width: 734px;
      min-width: 300px;
      height: 356px;
      background-color: white;
      &__item {
            width: 100%;
/*             margin-left: 59px;
 */            margin-left: 2.8125rem;            
      }
      &__title {
            font-size: 20px;
            font-weight: 700;
            line-height: 23px;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 17px;
      }
      &__txt {
            font-size: 16px;
            font-weight: 400;
            line-height: 1.8125rem;
            letter-spacing: 0px;
            text-align: left;
            margin-bottom: 3.375rem;
            margin-right: 2.8125rem;
      }
      &__sign {
            font-size: 16px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0px;
            text-align: left;
      }
}

.slick-slider {

}
.slick-list {
      overflow: hidden;
      /* max-height: 471px; */
      object-fit: contain;
}
.slick-track {
      display: flex;
      align-items: flex-start;
}
.slider2 {
/*       position: relative;
 */      .slick-arrow {
            position: absolute;
            top: 87.5%;
            z-index: 10;
            font-size: 16px;
            width: 30px;
            height: 60px;
            opacity: 1;
            transition-duration: 800ms;
            background-color: #0E77AF;
            font-size: 28px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            text-align: left;
            color: white;
}
      .slick-arrow:hover {
            opacity: 0.5;
      }
      .slick-arrow.slick-prev {
            left: 90px;
}
      .slick-arrow.slick-next {
            left: 0;
}
      &__item{
      }
}
.slider2 {
      display: flex;
      align-items: center;
      justify-content: center;
      .slick-dots {
            padding-bottom: 50px;
            li {
                  list-style: none;

            }
            button {
                  font-size: 0;
            }
}
}
